<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.mapper.teacher.TeacherMapper">
    <insert id="addTeacher" parameterType="com.sharding.pojo.Teacher" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_teacher(
        teacherId,
        age,
        <if test="cityId != null">
            cityId,
        </if>
        name
        )VALUES(
        #{teacherId},
        #{age},
        <if test="cityId != null">
            #{cityId},
        </if>
        #{name}
        )
    </insert>
</mapper>